html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 2.15rem;
    padding-bottom: .225rem;
}

.dt-spinner + div {
    display: none !important;
}


.h-70px{
    height : 70px !important
}